.MainText{
  width:100%;
  position: center;
  font-size: 130%;
}
.titulo{
  text-align: center;
  font-size: 400%;
}
.text-info{
  text-align: center;
  font-size: 110%;
}
.score-info{
  text-align: center;
  font-size: 110%;
}
.player-text{
  width:95%;
  height: 8%;
  position: center;
  font-size: 120%;
  border: 3px solid black;
}
.scoreboard{
  width: 95%;
  position: center;
}

.disableText{
  background-color: lightgray;
}
.icon{
  vertical-align: middle;
}
.wrong-text{
  border: 3px solid red;
}
.correct-text{
  border: 3px solid green;
}
.score-thead{
  position: center;
  font-size: 120%;
  border: 3px solid black;
}
body{
  overflow: scroll;
}
.error{
  color: red;
  font-weight: bold;
}
#error{
  display: none;
}
#name-error{
  display: none;
}
#spinner{
  display: none;
}
#id-name{
  width:20%;
}
#id-text{
  width: 3%;
}
.correct{
  color: green;
  font-weight: bold;
}
#done{
  display: none;
}
#complete{
  display: none;
}
